
nav{
    text-align: center;
    border: solid black 0.1rem;
}

li a{
    font-size:22vh;
}

li{
    
    color: white;
    background-color: red;
}
li:hover{
    color: red;
    background-color: white;
}

@media screen and (min-width:1000px){
    ul{
        display: flex;
    }

    li{
        flex-basis: 100%;
        height: 100vh;
        align-content: center;
    }
    li a{
        font-size:20vh;
    }   
}